<div class="container">
  <form>
   
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label"
        >name</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputEmail3"
          placeholder="Email"
          [value]="data.name"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label"
        >description</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputEmail3"
          placeholder="Email"
          [value]="data.description"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label"
        >first_seen</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputEmail3"
          placeholder="Email"
          [value]="data.first_seen"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">id</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputEmail3"
          placeholder="Email"
          [value]="data.id"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label"
        >primary_motivation</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputEmail3"
          placeholder="Email"
          [value]="data.primary_motivation"
        />
      </div>
      
    </div>
    
  </form>
</div>

