<!-- <div class="searchbox">
    <form name="tgcsearchactor" action="/cgi-bin/listgroups.cgi" method="GET">
        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td nowrap="" width="10%"><b>Actor</b></td>
                    <td nowrap="" width="15%">Source country</td>
                    <td width="75%"><select name="c">
                            <option value="">...</option>

                            <option value="Italy">Italy</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Libya">Libya</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Nigeria">Nigeria</option>

                        </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td nowrap="">Victim country</td>
                    <td><select name="v">
                            <option value="">...</option>

                            <option value="Afghanistan">Afghanistan</option>




                        </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td nowrap="">Victim sector</td>
                    <td><select name="s">
                            <option value="">...</option>
                            <option value="Aerospace">Aerospace</option>
                            <option value="Automotive">Automotive</option>


                            <option value="Chemical">Chemical</option>
                            <option value="Construction">Construction</option>
                            <option value="Critical%20infrastructure">Critical infrastructure</option>
                            <option value="Defense">Defense</option>

                            <option value="Transportation">Transportation</option>
                            <option value="Utilities">Utilities</option>
                        </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td nowrap="">Motivation</td>
                    <td><select name="m">
                            <option value="">...</option>
                            <option value="Financial%20crime">Financial crime</option>
                            <option value="Financial%20gain">Financial gain</option>
                            <option value="Information%20theft%20and%20espionage">Information theft and espionage
                            </option>
                            <option value="Sabotage%20and%20destruction">Sabotage and destruction</option>
                        </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td nowrap="">Free text search</td>
                    <td><input type="text" name="x" size="50" maxlength="256"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><button type="button" class="btn btn-danger" (click)="getSearch()">search</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div> -->

<div class="row">
    <div class="col-md-9 offset-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="center">Actors</h3>
            </div>
            <div class="card-body">source country
                <input type="text" [(ngModel)]="country" class="form-control">
                 victim country
                <input type="text" [(ngModel)]="sector" class="form-control">
                victim sector
                <input type="text" [(ngModel)]="motivation" class="form-control">
                Motivation
                <input type="text" [(ngModel)]="name" class="form-control">
                Group Name
                <input type="text" class="form-control">

                <div class="">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-danger" (click)="onsearchClick()">search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><br><br>
<div class="row">
    <div class="col-md-9 offset-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="center">Tools</h3>
            </div>
            <div class="card-body">
                Category
                <select name="c">
                    <option value="">...</option>
                    <option value="">Malware</option>
                    <option value="">Tools</option>
                </select><br><br>
                Tool name
                <input type="text" class="form-control">
                <div class="">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-danger" (click)="goToTool()">search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>