<!-- 

<div class="row">
    <div class="col-md-9 offset-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="center">Actor</h3>
            </div>
            <div class="card-body">source country
                <input type="text" class="form-control">
                victim country
                <input type="text" class="form-control">
                victim sector
                <input type="text" class="form-control">
                Motivation
                <input type="text" class="form-control">
                Group Name
                <input type="text" class="form-control">

                <div class="">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-danger" (click)="goToGroup()">search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><br><br>
<div class="row">
    <div class="col-md-9 offset-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="center">Tools</h3>
            </div>
            <div class="card-body">
                Category
                <select name="c">
                    <option value="">...</option>
                    <option value="">Malware</option>
                    <option value="">Tools</option>
                </select><br><br>
                Tool name
                <input type="text" class="form-control">
                <div class="">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-danger" (click)="goToGroup()">search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>  -->


<h2>
    SAMA Partners +++++++++

    pic

    defnt of apt GRPS
</h2>